@font-face {
  font-family: "Yu Gothic Bold";
  src: url("./fonts/yugothib.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yu Gothic Light";
  src: url("./fonts/yugothil.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.ttf");
  font-weight: normal;
  font-style: normal;
}