body
  font-family "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

h1,h2,h3,h4,h5,h6
  font-family "Yu Gothic Bold"
  font-weight normal

h1
  font-size 60px
  margin 10px

h2
  font-size 24px
  margin 10px

h3
  color black
  font-size 18px
  line-height 24px
  margin 0

h4
  font-size 13px
  line-height 16px
  margin 0

pre, p
  font-family "Yu Gothic Light"
  color black
  font-weight 600
  margin 10px 0

pre
  font-size 16px
  line-height 24px

p
  font-size 13px
  line-height 17px

span
  font-size 13px
  font-family "Helvetica", sans-serif

a
  color black
  text-decoration none
  outline none